@use "../../../styles/variables.scss" as var;
@use "../../../../theme/theme-colors.scss" as theme;
@use "sass:map";

.navbar-container {
  display: flex;
  justify-content: space-between;
  padding-left: 30px;
  padding-right: 30px;
  align-items: center;
  height: 88px;
  position: sticky;
  top: 0;
  background-color: var.$navbar-main-blue;
  border-radius: 20px;
  z-index: 999;
}

.header {
  height: 64px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  .navbar-link {
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 16px;
    padding-right: 16px;
    border-radius: 25px;
    font-size: 14px;
    cursor: pointer;
    color: map.get(theme.$neutral-palette, 100); // white

    &.active {
      background-color: map.get(theme.$neutral-palette, 100); // white
      color: var.$navbar-main-blue;
    }
  }
}

.logo {
  width: 176px;
  cursor: pointer;
}

.header-item-container {
  display: flex;
  align-items: center;
  padding-left: 24px;
  padding-right: 24px;
  height: 100%;
}

#navbar-user-menu-button {
  background-color: var.$navbar-profile-bg;
  border-radius: 25px;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 16px;
  padding-right: 16px;
}

.user-label {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: map.get(theme.$neutral-palette, 100); // white
  span {
    margin-right: 8px;
  }
  mat-icon {
    width: 24px;
    color: map.get(theme.$neutral-palette, 100); // white
  }
}
