.page {
  display: flex;
  justify-content: center;
}
.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  max-width: 353px;
  gap: 24px;
}
.logo-container {
  width: 353px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;

  .logo {
    width: 176px;
  }
}
.check {
  color: #596ba2;
  width: 40px;
  height: 40px;
  font-size: 40px;
}

.reset-button {
  margin-top: 24px;
  width: 100%;
}
