<div class="page">
  <div class="content">
    <div class="logo-container" id="password-reset-logo-container">
      <mat-icon
        class="logo"
        svgIcon="logo"
        id="password-reset-logo-icon"
      ></mat-icon>
    </div>

    <h1 class="main-heading" id="password-reset-heading">
      Reset your password
    </h1>
    <p class="subtitle" id="password-reset-subtitle">
      Your new password must be different to previously used passwords.
    </p>

    <form class="password-reset-form" id="password-reset-form">
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Password</mat-label>
        <input
          matInput
          [type]="hidePassword() ? 'password' : 'text'"
          [(ngModel)]="password"
          name="password"
          required
          minlength="8"
          id="password-reset-input"
        />
        <button
          mat-icon-button
          matSuffix
          (click)="toggleVisibility('password', $event)"
          [attr.aria-label]="'Toggle password visibility'"
          id="password-reset-visibility-button"
        >
          <mat-icon class="material-symbols-outlined filled-symbol">
            {{ hidePassword() ? "visibility_off" : "visibility" }}
          </mat-icon>
        </button>
      </mat-form-field>
      <p class="hint-text" id="password-reset-hint">
        Must be at least 8 characters
      </p>

      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Confirm password</mat-label>
        <input
          matInput
          [type]="hideConfirm() ? 'password' : 'text'"
          [(ngModel)]="confirmPassword"
          name="confirmPassword"
          required
          minlength="8"
          id="password-reset-confirm-input"
        />
        <button
          mat-icon-button
          matSuffix
          (click)="toggleVisibility('confirm', $event)"
          [attr.aria-label]="'Toggle confirm password visibility'"
          id="password-reset-confirm-visibility-button"
        >
          <mat-icon class="material-symbols-outlined filled-symbol">
            {{ hideConfirm() ? "visibility_off" : "visibility" }}
          </mat-icon>
        </button>
      </mat-form-field>

      @if (errorMessage()) {
      <div class="error-text" id="password-reset-error-message">
        {{ errorMessage() }}
      </div>
      }

      <button
        mat-flat-button
        color="primary"
        class="submit-button"
        type="submit"
        [disabled]="!isFormValid"
        (click)="onSubmit()"
        id="password-reset-submit-button"
      >
        Reset password
      </button>
    </form>

    <p class="legal-text" id="password-reset-legal-text">
      By clicking “Continue” you agree to our
      <a href="#">User Terms of Service</a> and <a href="#">Privacy Policy</a>.
    </p>
  </div>
</div>
