@use "sass:map";
@use "@theme/theme-colors.scss" as theme;

@use "../../../../styles/variables.scss" as var;

.mat-mdc-dialog-component-host {
  display: block;
  background: var.$background-gradient;
  padding: 6px;
}

.mat-mdc-dialog-title {
  margin: 0 0 0px;
  padding: 6px 24px;
  font-weight: 400 !important;
}

h3 {
  margin-block-start: 0px;
  margin-block-end: 0px;
}

// style for the paragraphs and unordered lists
p {
  margin-block-start: 0px;
  margin-block-end: 24px;
  margin-inline-start: 20px;
}

//styles for the sub-heading that should revert to default styles
.sub-heading {
  margin-block-start: 1px;
  margin-block-end: 1px;
  margin-inline-start: 0px;
}

// Style for the first paragraph ("To get the most out...")
.mat-mdc-dialog-content > p:first-child {
  padding-bottom: 24px;
}

ul {
  margin-block-start: 0em;
  margin-inline-start: 20px;
}

ul.nested-list,
ul.nested-inner-list {
  padding-left: 0px; //Adjusts the indentation
}

// styles for the inner nested list
ul.nested-inner-list {
  list-style-type: disc;
}

.cancel-button {
  border-radius: 16px;
  width: 90px;
  height: 56px;
}
