.sticky-bottom-bar {
  flex-direction: row-reverse;
  position: fixed;
  bottom: 20px;
  left: 0;
  width: 100%;
  height: 88px;
  background-color: white;
  display: flex;
  z-index: 1000;
  align-items: center;
}

.button-container {
  display: flex;
  padding: 0px 20px;
  gap: 20px;
}

.space-between {
  justify-content: space-between;
}

.review-content {
  padding-bottom: 120px;
}

mat-dialog-content {
  white-space: pre-line;
}
