@use "@angular/material" as mat;
@use "./theme/theme-colors" as theme-color;
@use "app/styles/variables.scss" as variables;
@use "sass:map";
@use "material-symbols";

html {
  :root {
    --navbar-height: 100px;
  }
  @include mat.theme(
    (
      color: theme-color.$primary-palette,
      typography: (
        plain-family: Roboto,
        brand-family: Roboto,
        bold-weight: 900,
        medium-weight: 500,
        regular-weight: 300,
      ),
    )
  );
  @include mat.button-overrides(
    (
      filled-container-height: 40px,
      filled-container-shape: 8px,
      outlined-container-shape: 8px,
      outlined-container-height: 40px,
      outlined-label-text-color: black,
      outlined-horizontal-padding: 16px,
      filled-container-color: #213367,
    )
  );
  @include mat.menu-overrides(
    (
      container-shape: 8px,
      container-color: white,
      item-label-text-weight: Regular,
    )
  );
  @include mat.form-field-overrides(
    (
      filled-container-color: transparent,
      filled-active-indicator-height: 0px,
      filled-focus-active-indicator-height: 0px,
      hover-state-layer-opacity: 0,
    )
  );
  @include mat.dialog-overrides(
    (
      container-min-width: 750px,
      headline-padding: 24px,
      content-padding: 24px,
      supporting-text-color: black,
    )
  );
  @include mat.autocomplete-overrides(
    (
      background-color: white,
      container-shape: 8px,
    )
  );
  background: linear-gradient(
    116.42deg,
    rgba(255, 255, 255, 0.4) 0.58%,
    rgba(206, 217, 249, 0.4) 99.58%
  );
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  .mat-autocomplete-panel {
    border: 3px solid #73ad21;
  }
  margin: 0px;
  height: 100vh;
  font-family: "Roboto";
}
body {
  height: 100vh;
  color: #0c1213;
}
.with-border {
  border: 1px solid #6b6c75;
  border-radius: 30px;
  background-color: #eef0ff;
  height: 56px;
}
.main-heading {
  color: #213367;
  text-align: center;
  font-weight: 500;
  font-size: 36px;
  margin: 0;
}

h1,
h2,
h3 {
  font-weight: 500;
}
h1 {
  font-weight: 400;
}
.remove-icon {
  cursor: pointer;
}
.center-cell {
  display: flex;
  align-items: center; // vertically center
  justify-content: center; // horizontally center
  height: 100%;
}

.error-text {
  color: var(--mat-sys-error);
}

.page {
  display: flex;
  justify-content: center;
}

// added a wrapper to prevent styles from leaking
.app-global-content {
  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 360px;
    gap: 24px;
  }
}

//button can be used in 404 page, onboarding sign-up, and multifactor authentication
.full-width-button {
  margin-top: 24px;
  width: 100%;
}

//icon styles that can be used for 404 page and onboarding sign-up
.mat-icon.icon-styles {
  width: 40px;
  height: 40px;
  font-size: 40px;
  color: map.get(theme-color.$primary-palette, 40);
}

.top-header {
  display: flex;
  max-height: 56px;
  gap: 48px;
  border-radius: 16px;
  background-color: white;
  margin-top: 48px;
  margin-bottom: 48px;
  padding: 24px;
  align-items: center;
}

.flex {
  display: flex;
  align-items: center;
}

.flex-reverse {
  flex-direction: row-reverse;
}

.gap-20 {
  gap: 20px;
}

.gap-10 {
  gap: 10px;
}

.pt-20 {
  padding-top: 20px;
}

.disabled {
  color: map.get(theme-color.$neutral-palette, 50);
}

//styles for the AG-Grid "view dashboard" cell
.icon-link {
  display: flex;
  align-items: center;
  gap: 4px;
  text-decoration: none;
  color: inherit;

  span:hover {
    text-decoration: underline;
  }
}

.filled-symbol {
  font-variation-settings: "FILL" 1;
}
