@use "../../../../styles/variables.scss" as var;
@use "@angular/material" as mat;
@use "sass:map";
@use "@theme/theme-colors.scss" as theme;

.page-container {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 16px;
  min-height: calc(100vh - var(--navbar-height));
}

.top-row,
.middle-row,
.bottom-row {
  display: flex;
  gap: 16px;
  flex: 1;
}

.container {
  background-color: map.get(theme.$primary-palette, 100);
  border: 1px solid map.get(theme.$neutral-palette, 95);
  border-radius: 8px;
  padding: 24px;
  box-sizing: border-box;
}

.middle-left {
  flex: 6;
  min-height: 411px;
}

.middle-right {
  flex: 4;
  min-height: 411px;
  overflow: hidden;
}

.bottom {
  flex: 1;
  min-height: 315px;
}

/* Responsive stacking */
@media (max-width: var.$breakpoint-tablet) {
  .top-row,
  .middle-row,
  .bottom-row {
    flex-direction: column;
  }

  .middle-left,
  .middle-right,
  .bottom {
    flex-basis: 100%;
    width: 100%;
    height: auto;
    min-height: 411px;
    min-width: auto;
  }
}

.empty-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.icon-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: var.$background-gradient;
}

.empty-icon {
  font-size: 48px;
  width: 48px;
  height: 48px;
}

.empty-text {
  margin-top: 16px;
  font-size: 16px;
}
