.content {
  padding: 24px;
  background: linear-gradient(
    113.58deg,
    rgba(255, 255, 255, 0.4) 21.32%,
    rgba(206, 217, 249, 0.4) 98.66%
  );
}

.select-users-container {
  display: flex;
  flex-direction: column;
  mat-form-field {
    padding-top: 16px;
  }
}

.add-users-container {
  display: flex;
  flex-direction: column;
  .add-users-container-content {
    padding-top: 16px;
    align-items: center;
    display: flex;
    gap: 16px;
    mat-form-field {
      width: 100%;
    }
    button {
      min-width: 160px;
      margin-bottom: 20px;
      border-radius: 24px;
    }
  }
}

.selected-users-container {
  min-height: 40px;
}

.dialog-actions {
  display: flex;
  justify-content: flex-end;
  gap: 8px;
  margin-top: 16px;
  button {
    border-radius: 16px;
    min-height: 56px;
  }
  .cancel-button {
    background-color: white;
    color: black;
    border: solid 1px black;
  }
}
