@use "@angular/material" as mat;
@use "sass:map";
@use "@theme/theme-colors.scss" as theme;

.container {
  background-color: map.get(theme.$primary-palette, 100);
  border: 1px solid map.get(theme.$neutral-palette, 95);
  border-radius: 8px;
  padding: 24px;
  box-sizing: border-box;
}

.filter-container {
  display: flex;
  flex-direction: column;
  gap: 32px;
  flex: 1;

  @include mat.chips-overrides(
    (
      container-shape-radius: 24px,
      outline-color: map.get(theme.$primary-palette, 0),
      outline-width: 1px,
      container-height: 22px,
    )
  );
}

.filter-row {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  align-items: center;
  justify-content: space-between;
}

.date-range-filter-group {
  display: flex;
  flex-direction: column;
  gap: 4px;
  flex: 0 1 431px;
  max-width: 100%;
}

.filter-group {
  min-width: 121.6px !important;
  flex: 1;
}

.dashboard-guide.mat-mdc-unelevated-button {
  margin-top: -8px;
  display: flex;
  align-items: center;
  background: transparent;
  color: map.get(theme.$primary-palette, 0);
  border: 1px solid map.get(theme.$primary-palette, 0);
  border-radius: 100px;
  height: 32px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;

  &:hover {
    background: var(--mat-sys-primary);
    color: map.get(theme.$primary-palette, 100);
    border-color: var(--mat-sys-primary);
  }
}

/* Site dropdown badge styles */
.mat-mdc-option .mdc-list-item__primary-text {
  display: flex !important;
  justify-content: space-between !important;
  align-items: center !important;
  width: 100%;
}

.site-option-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
  width: 100%;
}

.option-name {
  flex: 1;
  white-space: normal;
  word-break: break-word;
}

.failure-badge {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 24px;
  height: 24px;
  border-radius: 50px;
  font-size: 12px;
  font-weight: bold;
  color: map.get(theme.$primary-palette, 100);
  padding: 2px;
  margin-left: auto;
}

.error-color {
  background-color: map.get(theme.$error-palette, 50);
}

.success-color {
  background-color: map.get(theme.$pass-palette, 500);
}

.parameters-title {
  font-weight: 500;
  font-size: 22px;
}

/* Material chips custom styles */
mat-chip-listbox {
  margin-top: -16px;
}

.mat-mdc-chip-option {
  padding: 6px 16px;
  font-size: 13px;
  background: transparent;
  color: map.get(theme.$primary-palette, 100);
  transition: all 0.2s;
  cursor: pointer;
}

.mat-mdc-chip-option.mdc-evolution-chip--selected {
  background-color: var(--mat-sys-primary) !important;
  border-color: var(--mat-sys-primary);

  .mdc-evolution-chip__text-label,
  .mdc-evolution-chip__checkmark {
    color: map.get(theme.$primary-palette, 100) !important;
  }
}

.mat-mdc-chip-option .mdc-evolution-chip__checkmark {
  left: 8px;
  color: map.get(theme.$primary-palette, 100);
}
