@use "../../../../styles/variables.scss" as var;

.user-access-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  border-radius: 16px;
  padding: 16px 24px;
  margin: 0;

  .left-group {
    display: flex;
    align-items: center;
    gap: 16px;

    span {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  .right-group {
    display: flex;
    align-items: center;
    gap: 12px;

    button {
      white-space: nowrap;
      border-radius: 12px;
    }
  }

  .back-button {
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 8px;
    size: 16px;
  }
}

@media (max-width: var.$breakpoint-tablet) {
  .top-header {
    padding: 12px 16px;

    .left-group span {
      font-size: 14px;
    }

    .right-group button {
      padding: 0 12px;
      font-size: 14px;
    }
  }
}
