$breakpoint-tablet: 992px;
$background-gradient: linear-gradient(
  116.42deg,
  rgba(255, 255, 255, 0.4) 0.58%,
  rgba(206, 217, 249, 0.4) 99.58%
);

// Navbar specific colors
$navbar-main-blue: #111654;
$navbar-profile-bg: #081A26;
